<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <div class="icon">
            <a href="">Canon</a>
        </div>
        <div class="nav-items">
            <button class="nav-item">Home</button>
            <button class="nav-item">Products</button>
            <button class="nav-item">About</button>
            <button class="nav-item">Contact Us</button>
        </div>
    </nav>
   
        
        
        
      
        
        <div class="section-1">
                <span>Delighting you always</span>


                <div class="menu-items">
                    <button class="menu-item">Learn More</button>
                    <button class="menu-item">Suscribe</button>
                </div>
           
               
                
            
        </div>


    
    
</body>
</html>