<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <div class="contact-info">
                <i class="fa-solid fa-location-dot"></i>
                <h3>Address</h3>
                <ul>
                    <li><p>my address</p></li>
                    <li><p>my location</p></li>
                </ul>
                
            </div>
            <div class="contact-info">
                <i class="fa-solid fa-phone"></i>
                <h3>Phone</h3>
                <ul>
                    <li><p>+91 1234567890</p></li>
                    <li><p>+91 0987654321</p></li>
                </ul>
                
                
            </div>
            <div class="contact-info">
                <i class="fa-solid fa-envelope"></i>
                <h3>Mail</h3>
                <ul>
                    <li> <p>your@email.com</p></li>
                    <li><p>email@your.com</p></li>
                </ul>
               
                
            </div>
        </div>
        <div class="vl"></div>
        <div class="right-section">
            <div class="header">
                <h1>Send us a message</h1>
                <p>If you have any queries contact us.</p>
            </div>
                <form action="" class="contact-form">
                    <input type="text" for="name" placeholder="Enter your name">
                    <input type="email" for="email" placeholder="Enter your email">
                    <textarea placeholder="Enter your message"  wrap="soft"></textarea>
                    <button type="submit" id="form-submit-button">Send Now</button>
                </form>
            
        </div>
    </div>
    <script src="https://kit.fontawesome.com/dede5d3a37.js" crossorigin="anonymous"></script>
</body>
</html>