<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="image-conatiner">
            <img src="./Arpit.JPG" alt="profile picture" class="profile-picture">
        </div>
        <div class="content">
            <p>Arpit Makkar</p>
            <p>Boxer</p>
        </div>
        <div class="social-media">
            <i class="fa-brands fa-facebook icon" style="color: #316FF6;"></i>
            <i class="fa-brands fa-instagram icon " style="color: 	#FD1D1D;"></i>
            <i class="fa-brands fa-x-twitter icon "></i>
            <i class="fa-solid fa-envelope icon" style="color: #c71610	;"></i>
        </div>
        <div class="buttons">
            <button>suscribe</button>
            <button>message</button>
        </div>
        <div class="analytics">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-share"></i>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/dede5d3a37.js" crossorigin="anonymous"></script>
</html>