<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="card front-face">
        <div class="row-1">
            <div class="company">
                <img src="logo.png" alt="logo" class="company-logo">
                <p>Mastercard</p>
            </div>
            <div class="chip">
                <img src="chip.png" alt="" class="chip-logo">
            </div>
        </div>
        <div class="row-2">
            <div class="card-details">
                <Label>Card Number</Label>
                <p>1234 5678 9875 1235</p>
            </div>
        </div>
        <div class="row-3">
            <div class="name">
                <p>Arpit Makkar</p>
    
            </div>
            <div class="exp-date">
                <p>Valid Thru</p>
                <p>05/28</p>
            </div>
        </div>
        
    </div>
    <div class="card back-face">
        <div class="row-1">
            <p style="font-size: x-small;">For customer service contact mastercard@gmail.com</p>
        </div>
        <div class="magnetic-strip">
        </div>
        <div class="row-3-backface">
        <p class="signature"></p>
        <span class="cvv">005</span>
        <p style="font-size: x-small; text-align: left; padding: 2%;">Sectetur incididunt tempor.Enim tempor consequat minim nisi eiusmod nostrud. Enim tempor consequat minim consequat minim nisi ei. Enim tempor consequat minim nisi ei</p>
        </div>
    </div>

    
</body>
</html>