.card{
    height: 5.39cm;
    width: 8.36cm;
    margin: 120px auto;
    background-color: #f4f4f4;
    border-radius: 12px;
    backface-visibility: hidden;
    
    
    
    
    
}









.row-1,.row-2,.row-3{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.company{
    display: inline-flex;
    align-items: center;
    width: 110px;
    justify-content: space-between;
}

.card-details{
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.card-details > p{
    margin-top: 0px;
}

.name{
    margin-left: 0.5rem;
    
}

.exp-date >p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0.5rem;
    text-align: center;

}

.chip{
    display: inline-flex;
    align-items: center;
    margin-right: 7%;
}



.magnetic-strip{
    background-color: black;
    height: 1cm;
    width: 8.36cm;
    
}

.signature{
    display: inline-flex;
    width: 6.36cm;
    height: 0.8cm;
    background: repeating-linear-gradient(
    #efefef,
    #EFefef 5px,
    white 5px,
    white 10px);
    margin-top: 5%;
    margin-bottom: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}


.cvv{
    background-color: white;
    text-align: center;
    position: relative;
    bottom: 7px;
    right: 5px;
}





img{
    height: 20px;
}
p,label,span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}







